
# files to be ignored
all_xg_gwas_combined_results.glm.firth

# sequence data
*.vcf
*.gz
*.tbi

# plink output
*.csi
*.bim
*.bed
*.tped
*.log
*.fam
*.ped
*.nosex
*.tfam
*.map
.nf*
*.pdf

# vs code configuration
*.vscode

# folders to ignore
ignore/
plink_1KG/