
# R
# *.RData

#PLINK gwas results files to be ignored
*.glm.firth
*glm.firth.id

# output of qsub
*.o* 


# sequence data
*.vcf
*.bgz
*.gz
*.tbi
*.bgen
*.pgen
*.pvar
#*.psam # allow psam files to be tracked, contains phenotype information for each sample
*.zst

# plink output
*.csi
*.bim
*.bed
*.tped
# *.log # log file shows computing results
*.fam 
*.ped
*.nosex
*.tfam
*.map
.nf*
*.pdf
*.in
*.out
*ld

# vs code configuration
*.vscode

# folders to ignore
*ignore/
plink_1KG/
plink_results/*.fam
biobank/1KG/phase3_grch37/filtered_vcf/*
biobank/1KG/phase3_grch37/original_data_with_id/*

# exceptions to be commit
!*biobank/1KG/phase3_grch37/filtered_vcf/chr23.dedup.variants_to_keep.bim
!*biobank/1KG/phase3_grch37/filtered_vcf/chr9.dedup.variants_to_keep.bim
!*biobank/1KG/phase3_grch37/LD_result/all_variant_chr23_200kb.ld.ld